
<div id="map" #map></div>


<div class="floating-range p-2">
  <div class="floating-content">
    <button (click)="zoomOut()" class="btn btn-primary"> - </button>

    <input type="range"
      class="form-range px-2"
      min="-2"
      max="18"
      [value]="zoom"
      (input)="zoomChanged( zoomInput.value )"
      #zoomInput
    >

    <button (click)="zoomIn()" class="btn btn-primary"> + </button>
  </div>

  <span class="form-label">
    Zoom: {{ zoom | number:'2.2-2' }}
    <br>
    Lng,Lat {{ currentLngLat }}
  </span>

</div>
